.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px ;
    background: dark;
    position: relative;
}
.login > input {
    border-radius: 8px;
    border: 2px solid;
    outline: black;
    color: grey;
    margin: 0.9rem 0;
    padding: 0.5rem 0 0.75rem;
    width: 60%;
    font-size: 1rem;
}

.login > .button {
    background: gray;
    border: 1px solid #181818;
    color: dark;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 00.5rem;
    border-radius: 8%;
    outline: none;
    cursor: pointer;
}